@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #161616;
  color: #cfcfcf;
}

.hover-effect {
  display: inline-block;
  transition: transform 0.5s;
  cursor: default;
  animation: jiggle 0.5s infinite;
  animation-play-state: paused;
}

.hover-effect:hover {
  transform: scale(1.1) rotate(-5deg);
  animation: jiggle 0.5s infinite;
  cursor: default;
}

@keyframes jiggle {
  0%,
  100% {
    transform: scale(1.1) rotate(-20eg);
  }
  50% {
    transform: scale(1.1) rotate(20deg);
  }
}

@keyframes moving-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animation {
  background: radial-gradient(circle, #161616, #1a1a1a, #222222);

  background-size: 1200% 1200%;
  animation: moving-gradient 15s ease infinite;
}
.h-screen-80 {
  height: calc(100vh - 68px);
}
